waf-*
.waf-*
waf3-*
build/
*.pyc
log
__pycache__/
.goutputstream-*
*.stackdump
.deps
.dirstamp
.lock-wafbuild
*.exe
*.o
tests/autotools/Makefile
tests/autotools/Makefile.in
tests/autotools/aclocal.m4
tests/autotools/autom4te.cache
tests/autotools/config.log
tests/autotools/config.status
tests/autotools/configure
tests/autotools/src/hello.h
tests/autotools/src/hello_c.c
tests/autotools/src/hello_s.c
